/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Segoe UI', sans-serif;
    background: #eaf6f6;
    color:white;
    transition: all 0.4s ease;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* SWITCH */
  .mode-switch {
    position: absolute;
    top: 15px;
    right: 20px;
    width: 35px;
    height: 35px;
    background: url('sun.png.jpeg') no-repeat center/cover;
    cursor: pointer;
    transition: 0.3s ease;
  }
  
  /* HEADER */
  header {
    width: 100%;
    background: #0a0a23;
    padding: 25px 0;
    text-align: center;
    color: white;
    border-bottom: 4px solid orange;
  }
  
  /* FORMULAIRE */
  .form-container {
    margin-top: 50px;
    padding: 30px;
    width: 360px;
    background:white;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
    transition: 0.4s ease;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
  }
  
  input {
    padding: 12px;
    font-size: 1em;
    border-radius: 6px;
    border: 1px solid #aaa;
  }
  
  button {
    padding: 12px;
    background: #0a0a23;
    color: white;
    border: none;
    font-weight: bold;
    border-radius: 6px;
    transition: 0.3s ease;
  }
  
  /* DARK MODE */
  
  #toggle:checked + .mode-switch {
    background-image: url('moon.png.jpeg');
  }
  
  #toggle:checked ~ header {
    background: #0a0a23;
    border-bottom: 4px solid #ff9800;
  }
  
  #toggle:checked ~ .form-container {
    background: #0a0a23;
    color:white;
    border: 1px solid #555;
  }
  
  #toggle:checked ~ .form-container input {
    background: #1a1a2e;
    color: white;
    border: 1px solid #ff9800;
  }
  
  #toggle:checked ~ .form-container button {
    background: transparent;
    color: #ff9800;
    border: 1px solid #ff9800;
  }
  